<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicGraphStore.Writer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MusicGraphStore.writer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MusicGraphStore.Writer.Properties.Settings>
            <setting name="SeedingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuildSpotifyGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComputeGenreRelevance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComputeArtistRelationship" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="PerfTest" serializeAs="String">
                <value>True</value>
            </setting>
        </MusicGraphStore.Writer.Properties.Settings>
        <MusicGraphStore.writer.Properties.Settings>
            <setting name="SeedingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuildSpotifyGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComputeGenreRelevance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComputeArtistRelationship" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>1500</value>
            </setting>
        </MusicGraphStore.writer.Properties.Settings>
    </applicationSettings>
</configuration>